<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <app-sidebar class="col-3 col-lg-2 d-md-block py-3"></app-sidebar>
    <!-- <app-main-content class="col-9 ms-sm-auto col-lg-10 px-md-4"></app-main-content>-->
    <div class="col-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="hero-image mb-4">
        <h1 class="display-4">Welcome to DataCatalog Pro</h1>
     </div>
     <!-- Breadcrumbs -->
     <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="#">Home</a></li>
           <li class="breadcrumb-item"><a href="#">Datasets</a></li>
           <li class="breadcrumb-item active" aria-current="page">Dataset Details</li>
        </ol>
     </nav>
     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dataset Details</h1>
     </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<button
  class="btn btn-primary position-fixed bottom-0 end-0 m-3"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#chatOffcanvas"
  aria-controls="chatOffcanvas"
>
  <i class="bi bi-chat-dots"></i> Chat
</button>

<app-chat></app-chat>