# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
static/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/
tvenv/
ENV/
env/
.venv/
.ENV/
.env/

# IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test and coverage reports
.coverage
*.coverage
*.cover
nosetests.xml
coverage.xml
*.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# Environment variable files
.env
.env.*
*.env

# Flask specific
instance/
.venv/

# Logs
*.log

# SQLite database
*.sqlite3
*.db

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
Desktop.ini
